.molecules__breadcrumb-bar {
  .card__inner {
    .breadcrumb__item{
      margin-top: 50px;
      @include mq-tablet {margin-top: 30px;}

      @include mq-phone { margin-top: 16px; }
      a{
        text-transform: uppercase;
        color: $color-text-blue;
        font-size: 20px;
        font-weight: bold;
        @include mq-phone { font-size: 14px; }
      }
    }
    .card__back-link {
      float: left;
      a{
        margin-left: 100px;
        @include mq-phone { margin-left: 48px; }
      }
    }
    .card__home-link {
      float: right;
      a{
        margin-right: 100px;
        @include mq-phone { margin-right: 48px; }
      }
      i{
        font-size: 22px;
        margin-left: 2px;
        @include mq-phone { font-size: 16px; }
      }
    }
  }
}
